@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Variables

$purple: rgb(108, 35, 245);
$grey: lighten(
  $color: #000000,
  $amount: 40%,
);

//Font Weight
$fw-normal: 100;
$fw-bold: 700;

//Font-Size
$fs-sml: 1rem;
$fs-lg: 2.3rem;

body {
  font-family: "DM Sans", sans-serif;
  font-size: $fs-sml;
}
//Global Styles

.heading {
  font-size: $fs-lg;
  line-height: 1.1;
  font-weight: $fw-bold;
  margin: 1rem 0;
}

.info {
  font-size: $fs-sml;
  margin: 1rem 0;
  line-height: 1.5;
  color: $grey;
}

button {
  margin-bottom: 1rem;

  span {
    font-weight: $fw-bold;
  }
}

.btn {
  background-color: $purple;
  color: white;
  padding: 1rem 1.2rem;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
}

section {
  padding-bottom: 7rem;
}

p.link {
  color: $purple;
  font-weight: $fw-bold;
}

.small-heading {
  font-weight: $fw-bold;
  font-size: 1.2rem;
}

//Main Styles

.container {
  padding-bottom: 2rem;
  width: 90%;
  margin: 0 auto;

  header {
    padding: 2.5rem 0;
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .intro {
    .feed {
      width: 100%;
      margin: 3rem 0;
      img {
        width: 100%;
      }
    }

    .join-us {
      img {
        width: 50%;
      }
      span {
        color: $purple;
        font-weight: $fw-bold;
      }
    }
  }

  .social-icons {
    margin: 2rem 0;
    img {
      width: 100%;
    }
  }
  .phone-image {
    margin: 4rem 0;
    img {
      width: 100%;
    }
  }

  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 1rem 0 2rem;

    #right {
      margin-left: auto;
    }

    .small-heading {
      padding-bottom: 0.5rem;
    }

    .links {
      li {
        list-style: none;
        padding: 0.3rem 0;

        a {
          color: $grey;
          text-decoration: none;
        }
      }
    }
  }
}
